.centre {
    text-align: center;
}

p {
    font-style: italic;
    margin-left: 20px;
}

input {
    font-style: italic;
    margin: 3px;
    text-align: center;
    border: 2px solid black;
}

button {
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: 4px 4px;
    background-color: rgb(205, 38, 247);
    text-decoration: none;
}

.buttoncalc:hover {
    color: blue;
    fill: blue;
}

.pinkplus {
    width: 40px;
    top: 170px;
    left: -10px;
    margin-left: 1050px;
    position: absolute;
}

.heart {
    position: relative;
    width: 740px;
    margin: auto;
    display: block;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.score {
    font-size: 100px;
}

.error {
    position: fixed;
    top: 17rem;
    right: 58rem;
    visibility: visible;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}